.modal.day-view {
    &:has(.events:empty) .info {
        display: none;
    }

    & .count {
        padding-top: 0.5rem;
    }

    & .times-and-events {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: 46px 1fr;
    }

    & .times {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2rem;
        font-variant-numeric: tabular-nums;
    }

    & .events {
        list-style: none;
        background-color: var(--surface-2);
        border: 1px solid var(--surface-0);
        border-radius: 1rem;
        display: grid;
        gap: 0.5rem;
        padding: 0.5rem;
        grid-template-columns: repeat(var(--columns), 1fr);

        & .event {
            --foreground-color: hsl(var(--hue) 100% 35%);
            --background-color: hsl(var(--hue) 100% 95%);

            @media (prefers-color-scheme: dark) {
                --foreground-color: hsl(var(--hue) 100% 40%);
                --background-color: hsl(var(--hue) 100% 10% / 0.75);
            }

            padding: 0.33rem 0.67rem;
            border-radius: 0.25rem;
            background-color: var(--background-color);
            color: var(--foreground-color);
            border-left: 3px solid var(--foreground-color);
            cursor: pointer;

            &[data-priority="1"] {
                &:before {
                    content: "! ";
                }
            }

            &[data-priority="2"] {
                &:before {
                    content: "!! ";
                }
            }

            &[data-priority="3"] {
                &:before {
                    content: "!!! ";
                }
            }
        }
    }

    & button {
        width: 100%;
    }
}
