/* Set up for all things like padding, font etc. Got to make it look pretty :) */
*,
*:before,
*:after {
  font-family: Helvetica, Inter, Arial sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Have a centralized variable system so if I choose to change something it is easy and not a hassle */
:root {
  /* Spacing */
  --spc-50: calc(var(--spc-100) * 0.5);
  --spc-100: 1rem;
  --spc-200: calc(var(--spc-100) * 2);

  /* Border radius */
  --bor-100: calc(var(--spc-100) * 0.67);
  --bor-200: calc(var(--spc-200) * 0.67);

  /* Colors */
  --clr-primary-100: hsl(45, 100%, 50%);

  --clr-neutral-100: hsl(0 0% 100%);
  --clr-neutral-200: hsl(0 0% 97%);
  --clr-neutral-300: hsl(0 0% 93%);

  /* Font sizes */
  --siz-100: calc(var(--siz-400) * 0.55);
  --siz-200: calc(var(--siz-400) * 0.7);
  --siz-300: calc(var(--siz-400) * 0.85);
  --siz-400: 1rem;
  --siz-500: calc(var(--siz-400) * 1.2);
  --siz-600: calc(var(--siz-400) * 1.5);
  --siz-700: calc(var(--siz-400) * 2);
  --siz-800: calc(var(--siz-400) * 3);
  --siz-900: calc(var(--siz-400) * 5);

  --font-size-h1: var(--siz-900);
  --font-size-h2: var(--siz-700);
  --font-size-h3: var(--siz-500);
  --font-size-p: var(--siz-400);
  --font-size-small: var(--siz-200);
  --font-size-button: var(--siz-400);
}

/* Somethings like spacing should change on different window sizes */
@media only screen and (min-width: 768px) {
  :root {
    --spc-100: 1.5rem;
    --siz-400: 1.25rem;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --spc-100: 2rem;
    --siz-400: 1.5rem;
  }
}

/* Set the root background and padding */
body {
  background-color: var(--clr-neutral-200);
  padding: var(--spc-200);
}

/* Typography is important */
h1 {
  font-size: var(--font-size-h1);
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: 800;
}

h3 {
  font-size: var(--font-size-h3);
  font-weight: 600;
}

p {
  font-size: var(--font-size-p);
  font-weight: 400;
}

small {
  font-size: var(--font-size-small);
  font-weight: 400;
}

/* Use classes for reusability and ease of use. If things change makes life simple */
.container {
  --max-width: 640px;

  width: min(100%, var(--max-width));
  margin-inline: auto;
}

@media (width >= 768px) {
  .container {
    --max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    --max-width: 1024px;
  }
}

.card {
  padding: var(--spc-200);
  background-color: var(--clr-neutral-100);
  border-radius: var(--bor-200);
}

.btn {
  border: none;
  padding: var(--spc-100);
  cursor: pointer;
  font-size: var(--font-size-button);
  font-weight: 600;
}

.btn-card {
  background-color: var(--clr-neutral-100);
  border-radius: var(--bor-200);
  position: relative;
  overflow: hidden;
}

.btn-card:after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    135deg,
    hsl(0 0% 0% / 0.1),
    transparent 33%,
    transparent 67%,
    hsl(0 0% 0% / 0.1)
  );
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.btn-card:hover:after {
  opacity: 1;
}

.text-right {
  text-align: right;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.grid {
  display: grid;
}

.gap-1 {
  gap: var(--spc-100);
}

.gap-2 {
  gap: var(--spc-200);
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.space-y-1 > * + * {
  margin-block-start: var(--spc-50);
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.grid-cols-7 {
  grid-template-columns: repeat(7, 1fr);
}

.grid-rows-4 {
  grid-template-rows: repeat(4, 1fr);
}

.grid-rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-100 {
  border-radius: var(--bor-100);
}

.rounded-200 {
  border-radius: var(--bor-200);
}

.p-1 {
  padding: var(--spc-100);
}

.p-0\.5 {
  padding: var(--spc-50);
}

.bg-primary-100 {
  background-color: var(--clr-primary-100);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200);
}

@media (width >= 768px) {
  .md\:flex {
    display: flex;
  }

  .md\:grid-cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .md\:col-span-2 {
    grid-column: span 2;
  }

  .md\:col-span-3 {
    grid-column: span 3;
  }

  .md\:col-span-6 {
    grid-column: span 6;
  }

  .md\:hidden {
    display: none;
  }

  .md\:block {
    display: block;
  }
}
