/** Use Inter font from fonts.google.com */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

/* Set up for all things like padding, font etc. Got to make it look pretty :) */
*,
*:before,
*:after {
  font-family: Inter, Helvetica, Inter, Arial sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Variables */
:root {
  --primary-h: 218;
  --primary-s: 65%;
  --primary-l: 47%;
  --primary-hsl: var(--primary-h) var(--primary-s) var(--primary-l);
}

/** Typography */
h1 {
  font-weight: 900;
  font-size: 3rem;
}

h2 {
  font-weight: 900;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.4rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
}

b {
  font-weight: 700;
  font-size: 1rem;
}

/** Utilities */
.container {
  --max-width: 640px;

  width: min(100%, var(--max-width));
  padding: 2rem;
  margin-inline: auto;
}

@media (width > 768px) {
  .container {
    --max-width: 768px;
  }
}

@media (width > 1024px) {
  .container {
    --max-width: 1024px;
  }
}

@media (width > 1280px) {
  .container {
    --max-width: 1280px;
  }
}

@media (width > 1536px) {
  .container {
    --max-width: 1536px;
  }
}

button {
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  border: none;
  background-color: hsl(var(--primary-hsl));
  color: hsl(0 0% 100%);
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: hsl(var(--primary-h) var(--primary-s) 40%);
  }
}

/** Once only */
body {
  background-color: hsl(0 0% 98%);
}

header {
  background-color: hsl(0 0% 100%);
  border-bottom: 1px solid hsl(0 0% 90%);
  position: sticky;
  top: 0;

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    box-shadow: 0 0.5rem 1rem hsl(0 0% 90%);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    z-index: -1;
  }

  [data-scrolled="true"] &:after {
    opacity: 1;
  }

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & div:nth-child(1) {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      & p:nth-child(2) {
        color: hsl(var(--primary-hsl));
      }
    }

    & div:nth-child(2) button {
      width: 3rem;
    }
  }
}

main .container .calendar {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  gap: 1px;
  border: 1px solid hsl(0 0% 90%);
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  background-color: hsl(0 0% 100%);
  background-color: hsl(0 0% 90%);

  & .day {
    background-color: white;
    padding: 1rem;
    aspect-ratio: 1 / 1;

    &[data-is-current-day="true"] .date {
      color: hsl(var(--primary-hsl));
    }

    & hr {
      margin-block: 0.5rem;
      border: none;
      height: 1px;
      background-color: hsl(0 0% 95%);
    }

    & .events {
      list-style: none;

      & .event {
        &:before {
          content: "• ";
          color: var(--event-color);
        }
      }
    }
  }
}
